{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cursos{% endblock %}

{% block cta %}
    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="{% static 'core/img/call-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="callto__text">
                        <h2>En construcción</h2>
                        <p>¿Estás interesado en nuestros servicios?, contáctanos.</p>
                        <a href="#" class="primary-btn">Contactarse</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->
{% endblock %}